.admin-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;

  & label {
    width: 20%;
    font-weight: 600;
  }

  & input[readonly] {
    background-color: #fff;
  }

  & .row-wrapper {
    width: 80%;
  }

  & .textarea-wrapper {
    width: 80%;

    & textarea {
      width: 100%;
    }
  }

  & .taxonomy-select {
    & select {
      display: block;
      width: 50%;
      margin-bottom: 10px;
    }

    & input[type=text] {
      width: 70%;
    }

    & .taxonomy-select-inputs {
      width: 50%;
      display: flex;
      justify-content: space-between;
    }
  }

  & .custom-media-upload {
    width: 80%;
  }

  & .remove-image {
      display: none;
  }
}

.admin-row-description {
  font-style: italic;
}

.custom-media-upload.has-image {

    & .thumbnail-wrapper {
        margin-bottom: 0.875rem;
    }

    & .remove-image {
        display: inline-block;
    }
}

.text-list-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.text-list-item {
    display: flex;
    align-items: center;
    cursor: move;
    margin-bottom: 10px;

    & span {
      display: block;
      width: 45%;
    }

    & svg {
        width: 20px;
        height: 20px;
        margin-left: 10px;
        cursor: pointer;
        fill: #72777c;

        &:hover {
            fill: #dc3232;
        }
    }
}

.autosuggest-list-wrapper, .autosuggest-wrapper {
    position: relative;
}

.autosuggest-list-input, .autosuggest-input {
    padding-left: 30px;
}

.show {
   background:
     url('/wp-admin/images/spinner.gif')
     no-repeat
     left center;
}

.gallery-images {
  display: flex;
}

.remove-gallery-image {
  width: 18px;
  height: 18px;
  fill: #72777c;
  position: absolute;
  top: -3px;
  right: -3px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;

  &:hover {
      fill: #dc3232;
  }
}

.gallery-iamge-id {
  visibility: hidden;
  position: absolute;
}

.gallery-image {
  width: 100%;
}

.gallery-image-item {
  width: 25%;
  display: block;
  margin: 12px;
  position: relative;
}

.table-list {
  padding: 0 20px;

  & input {
    max-width: 220px;
    height: 28px;
  }

  & label {
    font-weight: bold;
  }
}

.table-list-item {
  justify-content: space-between;
}